$main-color: #292c43;
$important-color: #8083a3;
$success-color: #0fbcf9;
$warning-color: #ffcc00;
$danger-color: #ff0000;
$light-color: #fbfbff;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular', serif;
}

body {
  font-family: 'Pretendard-Regular', serif;
  font-size: 16px;
  color: $light-color;
  background-color: $main-color;
}

@mixin textGradient($color1, $color2) {
  background: linear-gradient(to right, $color1, $color2);
  filter: drop-shadow(0 0 0.3rem $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin skeleton {
  background: $main-color
    linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

@keyframes textGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: $success-color;
  color: $light-color;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  &.loading {
    background-color: $warning-color;
  }
  &.error {
    background-color: $danger-color;
  }
  &.success {
    background-color: $success-color;
  }
}
